body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}

h1 {
  color: #2c3e50;
}

h2, h3 {
  color: #2980b9;
}

a {
  color: #e74c3c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

.profile-img {
  width: 150px;           
  height: 150px;            
  border-radius: 50%;       
  object-fit: cover;        
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);  
  border: 3px solid #808080;   
  transition: transform 0.3s ease; 
}

.profile-img:hover {
  transform: scale(1.05);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: center;
  background-color: #ecf0f1;
  border: 1px solid #000;
}

caption {
   caption-side: bottom;
   padding: 10px;
   font-weight: bold;
}

thead,tfoot {
   background-color: rgb(228 240 245);
}

td:last-of-type {
   text-align: center;
}

tbody > tr:nth-of-type(even) {
   background-color: rgb(237 238 242);
}

tfoot th {
   text-align: right;
}

  tfoot td {
   font-weight: bold;
}

hr {
  border: none;
  height: 2px;
  background: #3498db; /* Blue color */
  width: 80%;
  margin: 40px auto;
  border-radius: 4px;
}
